.guest-content {
  padding-top: 5rem; /* Отступ сверху, чтобы не перекрывало фиксированный GuestNav */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
}

.column-row-item textarea {
  flex: 1 1 auto; /* занимает всё свободное место */
  max-height: 5rem;
  min-height: 2rem;
  height: auto;
  resize: none; 

  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  font-size: 1.2rem;
  border: 1px solid var(--secondary-gray);

  box-sizing: border-box;
}

.row-container {
  display: flex; /
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;

  transition: all 0.25s ease;
}

/* СОСТОЯНИЕ ОТКРЫТО */
.row-container.open {
  min-height: 5rem;
  height: auto;
  opacity: 1;
}
.expand-row {
  overflow: hidden;
  transition: max-height 0.25s ease, opacity 0.2s ease;
}

.edit-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.edit-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;

  font-family: var(--font-nunito), sans-serif;
  font-weight: var(--weight-extrabold);
}

.oneline-item-container,
.column-item-container {
  box-sizing: border-box;
  width: 600px;
  min-height: 50px;
  height: auto;

  padding: 1rem 2rem;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #9f9f9f;
  border-radius: 40px;

  display: flex;
  align-items: center;

  transition: all 0.2s ease;
  font-size: 1.3rem;
  font-family: var(--font-nunito), sans-serif;
  font-weight: var(--weight-extrabold);
}
.column-item-container {
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.row-container.open {
  max-height: 200px; /* или больше */
  opacity: 1;
  transform: scaleY(1);
}

.create-container.expand-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;

  /* Начальные значения для скрытого состояния */
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: scaleY(0.95);
  transition: all 0.25s ease;
  margin-bottom: 3rem;
}

/* Когда режим создания активен */
.create-container.expand-row.open {
  max-height: 200px;
  opacity: 1;
  transform: scaleY(1);
}

.positions-block {
  width: 20rem;
  height: 7rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-content: center;
  text-align: center;
}

.positions-block .item {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  /*можно текст в одну строку */

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.2rem 0.5rem;
  box-sizing: border-box;
  background: var(--primary-red);
  color: white;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}
.form-control {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
