.fixed-under-toolbar {
    position: fixed;
    top: 5rem;
    z-index: 300;
    min-height: 4rem;
}
.fixed-under-toolbar.left {
 left:3rem;
}
.drag-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;       /* задаём размер, чтобы был видимый элемент */
    height: 3rem;
    cursor: grab;
    margin-bottom: 1rem;
}
/* Контейнер списка */
.drag-drop-list {
    width: 20rem;           /* ширина списка */
    margin-left: 2rem;      /* отступ слева */
    display: flex;
    flex-direction: column; /* элементы в колонку */
    align-items: flex-start; /* выравнивание по левому краю */
    gap: 0.5rem;            /* отступ между элементами списка */
}

