/* Примеры цвета */
.menu-icon { 
    mask-image: url("../icons/list.svg"); 
    -webkit-mask-image: url('../icons/list.svg'); 
}
.filter-icon { 
    mask-image: url('../icons/filter.svg'); 
    -webkit-mask-image: url('../icons/filter.svg'); 
}
.arrow-left-short-icon { 
   mask-image: url('../icons/arrow-left-short.svg'); 
   -webkit-mask-image: url('../icons/arrow-left-short.svg');
 }
.arrow-right-short-icon { 
     mask-image: url('../icons/arrow-right-short.svg'); 
     -webkit-mask-image: url('../icons/arrow-right-short.svg'); 
}
.search-icon { 
    mask-image: url('../icons/search2.svg'); 
    -webkit-mask-image: url('../icons/search2.svg');
 }
.plus-icon {
    mask-image: url('../icons/plus.svg'); 
    -webkit-mask-image: url('../icons/plus.svg'); 
 }
.x-icon {
     mask-image: url('../icons/x.svg'); 
    -webkit-mask-image: url('../icons/x.svg');
}
.check-circle-fill-icon {
     mask-image: url('../icons/check-circle-fill.svg'); 
    -webkit-mask-image: url('../icons/check-circle-fill.svg');
}
.x-circle-fill-icon {
     mask-image: url('../icons/x-circle-fill.svg'); 
    -webkit-mask-image: url('../icons/x-circle-fill.svg');
}
.list-check-icon{
      mask-image: url('../icons/list-check.svg'); 
    -webkit-mask-image: url('../icons/list-check.svg');
}
.list-ol{
      mask-image: url('../icons/list-ol.svg'); 
    -webkit-mask-image: url('../icons/list-ol.svg');
}
.list-ul{
      mask-image: url('../icons/list-ul.svg'); 
    -webkit-mask-image: url('../icons/list-ul.svg');
}
.chat-square-text{
      mask-image: url('../icons/chat-square-text.svg'); 
    -webkit-mask-image: url('../icons/chat-square-text.svg');
}
.three-dots-circle-fill-icon{
      mask-image: url('../icons/three-dots-circle-fill.svg'); 
    -webkit-mask-image: url('../icons/three-dots-circle-fill.svg');
}
.arrow-counterclockwise-icon{
      mask-image: url('../icons/arrow-counterclockwise.svg'); 
    -webkit-mask-image: url('../icons/arrow-counterclockwise.svg');
}

.square-icon.courses-icon::after {
    mask-image: url("../icons/search.svg");
    -webkit-mask-image: url("../icons/search.svg");
}
.square-icon.users-icon::after {
    mask-image: url("../icons/people.svg");
    -webkit-mask-image: url("../icons/people.svg");
}

.square-icon.users-fill-icon::after {
    mask-image: url("../icons/people-fill.svg");
    -webkit-mask-image: url("../icons/people-fill.svg");
}
.square-icon.collection-icon::after {
    mask-image: url("../icons/collection.svg");
    -webkit-mask-image: url("../icons/collection.svg");
}
.square-icon.collection-fill-icon::after {
    mask-image: url("../icons/collection-fill.svg");
    -webkit-mask-image: url("../icons/collection-fill.svg");
}
.square-icon.box-arrow-left-icon::after {
    mask-image: url("../icons/box-arrow-left.svg");
    -webkit-mask-image: url("../icons/box-arrow-left.svg");
}
.square-icon.gear-fill-icon::after {
    mask-image: url("../icons/gear-fill.svg");
    -webkit-mask-image: url("../icons/gear-fill.svg");
}
.square-icon.tools-icon::after {
    mask-image: url("../icons/tools.svg");
    -webkit-mask-image: url("../icons/tools.svg");
}

.square-icon.house-fill-icon::after {
    mask-image: url("../icons/house-fill.svg");
    -webkit-mask-image: url("../icons/house-fill.svg");
}

.square-eye-gray-icon {
    background-image: url("../icons/square-eye-gray.svg");
}

.square-eye-slash-gray-icon {
    background-image: url("../icons/square-eye-slash-gray.svg");
}

.square-person-blue-icon {
    background-image: url("../icons/square-person-blue.svg");
}

.square-pie-chart-purple-icon {
    background-image: url("../icons/square-pie-chart-purple.svg");
}

.square-trash-red-icon {
    background-image: url("../icons/square-trash-red.svg");
}
.square-list-ul-gray-icon {
    background-image: url("../icons/square-list-ul-gray.svg");
}

.square-action-icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    /* ВАЖНО: сброс mask */
    mask-image: none;
    -webkit-mask-image: none;
}

/* Контейнер списка */
.fixed-aside-list {
    width: auto;
    height: auto;
    margin-top: 5rem;
    margin-left: 2.5rem;
    margin-right: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    font-family: var(--font-nunito), sans-serif;
    font-weight: var(--weight-bold);
}

/* Элемент списка */
.fixed-aside-list-item {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;          /* выравнивание по высоте */
    gap: 1rem;                    /* расстояние между иконкой и текстом */
    border: 1px solid var(--primary-gray);
    border-radius: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
     cursor: grab;
}

/* Иконка */
.fixed-aside-list-item-icon {
    width: 3rem;
    height: 3rem;

    display: inline-block;
    flex-shrink: 0;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    /* ВАЖНО: сброс mask */
    mask-image: none;
    -webkit-mask-image: none;
}

/* Заголовок */
.fixed-aside-list-item-title {
   
    flex: 1;                      /* занимает всё свободное пространство */
    font-size: 1.2rem;
    line-height: 1.1;

    display: -webkit-box;
    -webkit-line-clamp: 2;        /* максимум 2 строки */
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
