/* Панель навигации */
.nav-panel {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-top: 1rem;
 
}

/* Ссылка навигации */
.nav-link {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 3rem; 
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--secondary-gray);
    --gradient: var(--secondary-gray);
    transition: background-color 0.2s ease, color 0.2s ease;
    align-items: center; /* ВАЖНО: вертикальный центр */
    gap: 0.5rem;
    text-decoration: none;
    border: none;
    background: none; /* Сделаем фон прозрачным */
    width: 100%;
}

    /* Hover эффект */
    .nav-link:hover {
        background-color: #f5f5f5;
    }

        .nav-link:hover .nav-text {
            background: var(--gradient);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }



    /* Активная ссылка */
    .nav-link.active {
        background-color: #ba4a4a;
    }

.square-icon {
    --square-color: #ccc;
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    background: var(--gradient); /* ← главный момент */

    border-radius: 0.8rem;
    transition: transform 0.2s ease;
}

    .square-icon::after {
        content: ""; /* ОБЯЗАТЕЛЬНО! */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2rem;
        height: 2rem;
        background-color: white;
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center;
    }


/* Текст ссылки */
.nav-text {
    font-size: 1.5rem;
    line-height: 3rem;
    white-space: nowrap;
    font-family: var(--font-nunito), sans-serif;
    font-weight: var(--weight-extrabold);
}
