.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: rgba(225, 225, 225, 0.35);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: var(--font-nunito), sans-serif;
  font-weight: var(--weight-extrabold);
  font-size: 2rem;
}
.app-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
.app-nav-link {
  position: relative;
  text-decoration: none;
  color: #aaa;
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.app-nav-link.active {
  color: #555;
}

.app-nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #555;
  border-radius: 3px;
}

@media (max-width: 1100px) {
  .app-header {
    height: 2.5rem;
    font-size: 1rem;
  }
  .app-nav {
    gap: 20px;
  }

  .app-nav-link.active::after {
    bottom: -0.5rem;
    height: 1px;
  }
}

.app-login-link span {
  margin-right: 5px;
}
