
.status-message {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #9F9F9F;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%); /* горизонтальный центр фиксирован */

     font-family: var(--font-nunito), sans-serif;
    font-weight: var(--weight-extrabold);
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3rem;
    box-shadow:  0 0 30px rgba(0,0,0,0.15);;

    /* Плавная анимация появления */
    animation: fadeIn 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    z-index: 40;
}

/* Анимация появления только по вертикали и opacity */
@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-50%) translateY(-20px); }
    to { opacity: 1; transform: translateX(-50%) translateY(0); }
}

/* Анимация скрытия через 10 секунд */
.status-message.fade-out {
    animation: fadeOut 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateX(-50%) translateY(0); }
    to { opacity: 0; transform: translateX(-50%) translateY(-20px); }
}
