@inject UiState Ui
@using DeLavantTechnologies.Data
@using DeLavantTechnologies.Data.Enum

<div class="radio-list">
    <InputRadioGroup @bind-Value="SortOrder">
        
        <label class="radio-item">
            <InputRadio Value="UserOrder.AZName" class="radio-input" />
            <span class="radio-label">По названию: А → Я</span>
        </label>

        <label class="radio-item">
            <InputRadio Value="UserOrder.ZAName" class="radio-input" />
            <span class="radio-label">По названию: Я → А</span>
        </label>

        <label class="radio-item">
            <InputRadio Value="UserOrder.LastDateLoginToNew" class="radio-input" />
            <span class="radio-label">По дате входа к сегодняшней</span>
        </label>

        <label class="radio-item">
            <InputRadio Value="UserOrder.LastDateLoginToOld" class="radio-input" />
            <span class="radio-label">По дате входа от сегодняшней</span>
        </label>

    </InputRadioGroup>
</div>
@code {
    // Свойство для биндa
     private UserOrder SortOrder
    {
        get
        {
            if (Ui.CurrentState.Parameters.TryGetValue("order", out var value) && value is UserOrder order)
                return order;
            return UserOrder.AZName;
        }
        set => Ui.SetParam("order", value);
    }

}

 <AuthorizeView>
        <Authorized>
            @if (context.User.IsInRole("Admin"))
            {
                @foreach (var entity in new[]
               {
                    EntityType.Positions,
                    EntityType.Applicants,
                   
                })
                {
                    var info = EntityNavDefinitions.EntityNavMap[entity];

                    <div class="nav-link" style="@info.Style" @onclick="() => Select(entity)" >
                        <span class="square-icon @info.IconClass"></span>
                        <span class="nav-text">@info.Title</span>
                    </div>

                }
            }
        </Authorized>
</AuthorizeView>

@code {
    void Select(EntityType entity)
    {
        Ui.SelectEntity(entity);
        //NavigationManager.NavigateTo($"/{entity.ToString().ToLower()}");
    }
}