@using DeLavantTechnologies.Data
@inject UiState Ui

<div class="radio-list">
    <InputRadioGroup @bind-Value="SortOrder">
        
        <label class="radio-item">
            <InputRadio Value="CourseOrder.AZName" class="radio-input" />
            <span class="radio-label">По названию: А → Я</span>
        </label>

        <label class="radio-item">
            <InputRadio Value="CourseOrder.ZAName" class="radio-input" />
            <span class="radio-label">По названию: Я → А</span>
        </label>

        <label class="radio-item">
            <InputRadio Value="CourseOrder.CreatedAtNew" class="radio-input" />
            <span class="radio-label">По дате входа от сегодняшней</span>
        </label>

        <label class="radio-item">
            <InputRadio Value="CourseOrder.CreatedAtOld" class="radio-input" />
            <span class="radio-label">По дате входа к сегодняшней</span>
        </label>

        <label class="radio-item">
            <InputRadio Value="CourseOrder.UpdateToNew" class="radio-input" />
            <span class="radio-label">Обновлены недавно</span>
        </label>

        <label class="radio-item">
            <InputRadio Value="CourseOrder.CreatedAtOld" class="radio-input" />
            <span class="radio-label">Обновлены давно</span>
        </label>
    </InputRadioGroup>
</div>
@code {

    // Свойство для биндa
    private CourseOrder SortOrder
    {
        get
        {
            if (Ui.CurrentState.Parameters.TryGetValue("order", out var value) && value is CourseOrder order)
                return order;
            return CourseOrder.AZName;
        }
        set => Ui.SetParam("order", value);
    }

    
}


<h5>Категории</h5>
<div class="radio-list">
@foreach (var category in CourseCategories)
{
    <label class="radio-item">
        <input type="checkbox" class="checkbox-input"
               checked="@IsCategorySelected(category)"
               @onchange="(e) => ToggleCategory(category, e.Value)">
       <span class="radio-label">@category</span>
    </label>
}
</div>
@code{
    // Пример категорий
    private string[] CourseCategories = new[] { "Common", "Hidden", "Ones", "Group", "Personal" };

    // Проверка, выбран ли чекбокс
    private bool IsCategorySelected(string category)
    {
        if (Ui.CurrentState.Parameters.TryGetValue("categories", out var obj) && obj is HashSet<string> set)
        {
            return set.Contains(category);
        }
        return false;
    }

    // Переключение чекбокса
    private void ToggleCategory(string category, object? isCheckedObj)
    {
        var isChecked = isCheckedObj as bool? ?? false;

        if (!Ui.CurrentState.Parameters.TryGetValue("categories", out var obj) || obj is not HashSet<string> set)
        {
            set = new HashSet<string>();
        }

        if (isChecked)
            set.Add(category);
        else
            set.Remove(category);

        Ui.SetParam("categories", set);
    }
}
