@using MongoDB.Bson
@using DeLavant.Domain.Tests
@inject IQuestionService QuestionService
@rendermode InteractiveServer

@if (Question != null)
{
    <div class="item-content">
        <!-- HEADER -->
        <div class="item-content-header">
            <div class="item-content-header-left">
                <button class="circle-button primary-red x-circle-fill-icon" type="button"  @onclick="Delete"></button>
            </div>
            <div class="item-content-header-center">
                <h6>Ответы по шагам</h6>
            </div>
            <div class="item-content-header-right">
                <button class="circle-button primary-purple check-circle-fill-icon" type="button" @onclick="Save"></button>
            </div>
        </div>

        <!-- MAIN -->
        <div class="item-content-main">


            <!-- Текст вопроса -->
            <InputTextArea class="form-control"
            @bind-Value="Question.Title"
            placeholder="Текст вопроса"
             @onblur="async _ => await Save()" />

            @if (Question.Answers == null || !Question.Answers.Any())
            {
                <p>Ответы отсутствуют</p>
            }
            else
            {
                <div class="column">
                    @foreach (var ans in Question.Answers)
                    {

                        <div class="column-row-item" @key="ans.Id">

                        <InputTextArea class="form-control"
                            @bind-Value="ans.Value"
                            placeholder="Текст шага"
                            @onblur="Save" />

                        <button class="circle-button primary-red x-circle-fill-icon"
                            type="button"
                            @onclick="() => RemoveAnswer(ans.Id)">
                            </button>
                        </div>
                    }
                </div>
            }
        </div>

        <!-- FOOTER -->
        <div class="item-content-footer">
            <div class="item-content-footer-center">
                <button class="btn btn-sm btn-outline-primary mt-1" type="button" @onclick="AddAnswer">Добавить ответ</button>
            </div>
        </div>
        </div>

}
else
{
    <h3>Создавайте</h3>
}

@code {
    [Parameter] public Question Question { get; set; }
    [Parameter] public EventCallback<Question> OnQuestionUpdated { get; set; }
    [Parameter] public EventCallback<string> OnQuestionDeleted { get; set; }

    private void AddAnswer()
    {
        Question.Answers ??= new List<Answer>();
        Question.Answers.Add(new Answer
        {
            Id = ObjectId.GenerateNewId().ToString(),
            Value = "",
            IsCorrect = false
        });
    }

    private async Task RemoveAnswer(string id)
    {
        var ans = Question.Answers?.FirstOrDefault(a => a.Id == id);
        if (ans != null)
        {
            Question.Answers.Remove(ans);
            await Save();
        }
    }

    private async Task Save()
    {
        if (Question == null)
            return;

        await QuestionService.SaveQuestionAsync(Question);
        await OnQuestionUpdated.InvokeAsync(Question);

        Console.WriteLine($"Saved step question {Question.Id}");
    }

    private async Task Delete()
    {
        if (Question == null)
            return;

        await QuestionService.DeleteQuestionAsync(Question.Id);
        await OnQuestionDeleted.InvokeAsync(Question.Id);
    }
}