@using Microsoft.AspNetCore.Components
@inherits LayoutComponentBase

<div class="app-guest-layout">
        <DeLavantTechnologies.Components.Nav.GuestNav />

    <div class="guest-content">
        @Body
    </div>
</div>

@code {

}
