<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="DeLavantTechnologies.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="/styles/links.css"/>
    <link rel="stylesheet" href="/styles/navigations.css" />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/roots.css" />
    <link rel="stylesheet" href="/styles/contents.css"/>
    <link rel="stylesheet" href="/styles/gradients.css" />
    <link rel="stylesheet" href="/styles/check-radio-input.css" />
    <link rel="stylesheet" href="/styles/toolbar.css" />
    <link rel="stylesheet" href="/styles/auth-markup.css" />
    <link rel="stylesheet" href="/styles/icons.css" />
    <link rel="stylesheet" href="/styles/coursescomponents.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    <script src="javascript/sortable.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>