<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData"
                                DefaultLayout="@typeof(GuestLayout)">
                <NotAuthorized>
                    <DeLavantTechnologies.Components.Account.Shared.RedirectToLogin />
                </NotAuthorized>

                <Authorizing>
                    <p>Проверка доступа...</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <LayoutView Layout="@typeof(GuestLayout)">
                <DeLavantTechnologies.Components.Pages._404 />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
