@using DeLavantTechnologies.Data
@using Microsoft.AspNetCore.Authorization
@inject UiState Ui

@foreach (var entity in new[]
{
        EntityType.Courses,
        EntityType.Users,
        EntityType.Projects,
        EntityType.Home
})
{
    var info = EntityNavDefinitions.EntityNavMap[entity];
    
    <div class="nav-link" style="@info.Style" @onclick="() => Select(entity)" >
        <span class="square-icon @info.IconClass"></span>
        <span class="nav-text">@info.Title</span>
    </div>
}
  
 @code {
    void Select(EntityType entity) {
        Ui.SelectEntity(entity);
    }
    private string? currentUrl = "";
}
