@using Microsoft.AspNetCore.Components
@inject NavigationManager Nav

<header class="app-header">
    <nav class="app-nav">
        <NavLink class="app-nav-link" href="/" Match="NavLinkMatch.All">DeLavant</NavLink>
        <NavLink class="app-nav-link" href="#vacancies">Вакансии</NavLink>
        <NavLink class="app-nav-link" href="#catalog">Каталог</NavLink>
        <NavLink class="app-nav-link" href="/projects">Проекты</NavLink>
        <NavLink class="app-nav-link app-login-link" href="/Account/Login">
            <span class="bi bi-person-badge"></span> Вход в DeLavant
        </NavLink>
    </nav>
</header>
