@page "/authorigin"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>Вы вошли в систему</h1>

<AuthorizeView>
    Доброго дня @context.User.Identity?.Name !
</AuthorizeView>
