@using DeLavant.Domain.Tests
@inherits ComponentBase
@rendermode InteractiveServer

@if (Question is null)
{
    <p>Вопрос не найден</p>
    return;
}

<DynamicComponent Type="CurrentComponent"
                  Parameters="CurrentParams" />

@code {
    [Parameter] public Question Question { get; set; }

    private Type CurrentComponent => Question.Type switch
    {
        "one" => typeof(QuestionOneEdit),
        "many" => typeof(QuestionManyEdit),
        "note" => typeof(QuestionNoteEdit),
        "step" => typeof(QuestionStepEdit)
        
    };

    private Dictionary<string, object> CurrentParams =>
        new()
            {
                ["Question"] = Question
            };
}
