@inject ICourseRepository CourseRepository
@inject NavigationManager Nav
@inject CourseEditUiState CourseEditUi

<h2 class="danger">Удалить курс?</h2>


<p>Курс будет удалён через @SecondsLeft сек.</p>



@code {
    [Parameter] public string CourseId { get; set; } = default!;
    [Parameter] public Course Course { get; set; } = default!;

    private int SecondsLeft = 10;
    private CancellationTokenSource cts = new();

    protected override void OnInitialized()
    {
        _ = Countdown();
    }

    async Task Countdown()
    {
        try
        {
            while (SecondsLeft > 0)
            {
                await Task.Delay(1000, cts.Token);
                SecondsLeft--;
                StateHasChanged();
            }
        }
        catch (TaskCanceledException) { }
    }
}
